@using System.Security.Claims
@{
}

@if (User.Identity.IsAuthenticated)
{
    <div class="text-light"> @User.FindFirst(x => x.Type == "Username").Value </div>
   
}
else
{
    <a href="@Url.Action("Login","Account")">Login</a>
}


