@using System.Security.Claims
@{
}

@if (User.Identity.IsAuthenticated)
{
    <div class="text-light"><a class="nav-link text-light" asp-controller="UserProfile" asp-action="MyAccount">@User.FindFirst(x => x.Type == "Username").Value</a></div>
   
}
else
{
    <a href="@Url.Action("Login","Account")">Login</a>
}


