
@{
	Layout = null;
	ViewData["Title"] = "Hoş Geldiniz";
}

@model TrendyModa.Models.User

<!DOCTYPE html>
<html lang="en">

<head>
	
	
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	
	<script>
		addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); }
	</script>
	
	
	<link rel="stylesheet" href="/Pages/sign-in-up/css/font-awesome.min.css" />
	
	<link href="/Pages/sign-in-up/css/style.css" rel='stylesheet' type='text/css' media="all">
	

	<link href="//fonts.googleapis.com/css?family=Montserrat:300,400,500,600" rel="stylesheet">

	<style>
		.color-attr {
			width: 100%;
			background: #691dc4;
			outline: none;
			color: #fff;
			font-size: 13px;
			border: 1px solid #fff;
			padding: 9px 6px;
			letter-spacing: 1px;
			text-transform: uppercase;
			cursor: pointer;
			transition: 0.5s all;
			-webkit-transition: 0.5s all;
			-o-transition: 0.5s all;
			-moz-transition: 0.5s all;
			-ms-transition: 0.5s all;
		}

		a:visited {
			color:white;
		}
	</style>

</head>

<body>
	<h1 class="header-w3ls">
		TrendyModa'ya Hoşgeldiniz!
	</h1>
	<div class="mid-cls">
		

		<div class="swm-right-w3ls">
			<form action="@Url.Action("Login","Account")" method="post">
				<div class="main">
					<div class="icon-head-wthree">
						<h2><span class="fa fa-diamond t-w3" aria-hidden="true"></span></h2>
						<h4>Giriş</h4>
					</div>
					<div asp-validation-summary="All">

					</div>
					<div class="form-left-w3l">

						<input type="email" asp-for="Email" placeholder="Email" required="">
						<span asp-validation-for="Email" class="text-danger"></span>
						<div class="clear"></div>
					</div>
					<div class="form-right-w3ls ">

						<input type="password" asp-for="Password" placeholder="Şifre" required="">
						<span asp-validation-for="Password" class="text-danger"></span>
						<div class="clear"></div>
					</div>
					<div class="btnn">

						<button type="submit">Giriş Yap</button><br>
						
						<p class="for">Ya da...</p>
					</div>
				</div>
			</form>
			<div class=" btnn">
				<button class="btn color-attr"><a asp-controller="Account" asp-action="Signup">Kayıt Ol</a></button>
			</div>
			
		</div>	</div>
	<div class="copy">
		<p>2024 - TrendyModa - Mustafa Cenan</p>
	</div>
</body>
</html>