@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using System.Security.Claims

@model UserFollowListVM
@{
    ViewData["Title"] = "Kullanıcılar";
}


<partial name="ReturnHome" />

<div class="row">
    <div class="col-sm-0 col-lg-2 col-xxl-3"></div>
    <div class="col-sm-12 col-lg-8 col-xxl-6">

    <div class="my-3 p-3 bg-white rounded box-shadow">
        <h3 class="border-bottom border-gray pb-2 mb-0">Kullanıcılar</h3>
        @foreach (var item in Model.Users)
        {
            if (User.FindFirst(x => x.Type == "UserId").Value == item.UserId.ToString())
            {
                    
            }
            else
            {
                    <div class="media text-muted pt-3">
                        @* <img src="~/icons/profile.png " class="mr-2 rounded"> *@
                        <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                            <div class="d-flex justify-content-between align-items-center w-100">
                                <strong class="text-gray-dark h5">@item.Username </strong>
                                <strong class="text-gray-dark">Takipçi Sayısı:</strong>
                                <form asp-controller="Follow" asp-action="FollowAdd" method="post">
                                    <input type="hidden" asp-for="@item.UserId"/>
                                    <button type="submit" class="btn btn-outline-primary">Follow</button>
                                </form>
                                
                            </div>
                            <span class="d-block">@item.Name @item.Lastname</span>
                        </div>
                    </div>
                }

        }
    </div>

    </div>
    <div class="col-sm-0 col-lg-2 col-xxl-3"></div>

</div>